# Site configuration
# 1. Files excluded from Jekyll builds
# 2. Installed Gems
# 3. Gem settings
# 4. Jekyll settings
# 5. Collections
# 6. Jekyll collections settings
# 7. Site settings
# 8. Site favicons & manifest icons
# 9. Site navigation

# Set theme
remote_theme: daviddarnes/alembic

# 1. Files excluded from Jekyll builds
exclude:
- README.md
- CODE_OF_CONDUCT.md
- CONTRIBUTING.md
- screenshot.png
- LICENSE
- CNAME
- Gemfile
- Gemfile.lock
- alembic-jekyll-theme.gemspec
- .jekyll-cache
- vendor

# 2. Installed Gems
plugins:
- jekyll-sitemap
- jekyll-mentions
- jekyll-paginate
- jekyll-seo-tag
- jekyll-redirect-from
- jekyll-default-layout
- jekyll-feed
- jekyll-commonmark
- jemoji
- jekyll-remote-theme

# 3. Gem settings
paginate: 5 # jekyll-paginate > items per page
paginate_path: blog/page:num # jekyll-paginate > blog page
jekyll-mentions: https://twitter.com # jekyll-mentions > service used when @replying
twitter:
  username: torontoriichi # jekyll-seo-tag > Owners twitter username
author: torontoriichi # jekyll-seo-tag > default author
social: # jekyll-seo-tag > social overrides
  name: Toronto Riichi Club # jekyll-seo-tag > real name
  links:  # jekyll-seo-tag > social aliases (sameAs)
    - https://twitter.com/torontoriichi
    - https://github.com/toronto-riichi-club
# markdown: CommonMark # Markdown parse settings, CommonMark performs slightly better an others in build time
# commonmark:
  # options: ["SMART", "FOOTNOTES"]
  # extensions: ["strikethrough", "autolink", "table"]

# 4. Jekyll settings
sass:
  style: compressed # Style compression
permalink: pretty  # Permalink style (/YYYY/MM/DD/page-name/)
excerpt_separator: <!-- more --> # Marks end of excerpt in posts
timezone: America/Toronto # Timezone for blog posts and alike

# 5. Collections
#collections:
#  posts:
#    title: Posts # Needed for Siteleaf
#    output: true
#    description: "My thoughts and ideas" # The post list page content
#    feature_text: |
#      Welcome to the blog
#    feature_image: "https://picsum.photos/2560/600?image=866"

# 6. Jekyll collections settings
#defaults:
#  -
#    scope:
#      path: ""
#    values:
#      image: "/assets/default-social-image.png" # Default image for sharing

# 7. Site settings
encoding: utf-8
url: 'https://www.torontoriichi.club'
baseurl: ''
lang: en-CA
title: 'Toronto Riichi Club'
description: 'To ron, to riichi.'
permalink: pretty
logo: "/assets/logos/logo.svg"
logo_width: 52
logo_height: 52
repo: "https://github.com/toronto-riichi-club/toronto-riichi-club.github.io"
email: "contact@torontoriichi.club"

# 8. Site favicons & manifest icons
#favicons: # Favicons are also used in the manifest file. Syntax is 'size: path'
#  16: '/assets/logos/logo@16px.png'
#  32: '/assets/logos/logo@32px.png'
#  96: '/assets/logos/logo@96px.png'
#  120: '/assets/logos/logo@120px.png'
#  144: '/assets/logos/logo@144px.png'
#  180: '/assets/logos/logo@180px.png'
#  512: '/assets/logos/logo@512px.png'
#  1024: '/assets/logos/logo@1024px.png'

# 9. Site navigation
navigation_header:
- title: Home
  url: /
- title: About
  url: /about/
#- title: Blog
#  url: /blog/
- title: Rules
  url: /rules/
- title: Resources
  url: /resources/
- title: Contact
  url: /contact/

navigation_footer:
- title: Back to top
  url: "#top"

social_links:
  Twitter: https://twitter.com/torontoriichi
  Twitch: https://www.twitch.tv/torontoriichiclub
  GitHub: https://github.com/toronto-riichi-club

sharing_links:
  Twitter: "#1DA1F2"
  Facebook: "#3B5998"
  Reddit: "#FF4500"
  Email: "#1AA0CD"
