---
title: false
styles: true
---

@import "alembic";

.header {
  .container > *+* {
    margin-left: 1em;
  }

  .logo {
    color: $headingColour;
    margin-right: auto;

    &:hover {
      color: $linkColour;
    }

    img {
      margin-right: 1em;
    }
  }

  .nav--social {
    flex-direction: column;

    @include breakpoint(break-2) {
      flex-direction: row;
    }
  }
}

body:not(.no-feature-background) .feature {
  p, h2 {
    background-color: #FFFFFFAA;
    box-shadow: 0 0 1em 1em #FFFFFFAA;
  }
}
