---
title: false
styles: true
---

@import "alembic";

.header {
  .logo {
    color: $headingColour;
    line-height: inherit;
    max-height: unset;
    margin-right: auto;
    flex: 0 1 auto;

    &:hover {
      color: $linkColour;
    }

    img {
      margin-right: 1em;
    }
  }

  .nav--social {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
      margin-left: 1ex;

    @include breakpoint(break-1) {
      max-width: 4em;
    }

    @include breakpoint(break-3) {
      max-width: unset;
    }
  }
}

body:not(.no-feature-background) .feature {
  p, h2 {
    background-color: #FFFFFFAA;
    box-shadow: 0 0 1em 1em #FFFFFFAA;
  }
}

ins {
  text-decoration: none;
  background-color: yellow;
  color: black;
}
