---
title: false
styles: true
---

@import "alembic";

.header .logo {
  color: $headingColour;

  &:hover {
    color: $linkColour;
  }

  img {
    margin-right: 1em;
  }
}

.feature {
  p, h2 {
    background-color: #FFFFFFAA;
    box-shadow: 0 0 1em 1em #FFFFFFAA;
  }
}
